---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Cifras from '../components/Cifras.astro';
import Nosotros from '../components/Nosotros.astro';
import Servicios from '../components/Servicios.astro';
import Metodologia from '../components/Metodologia.astro';
import Campo from '../components/Campo.astro';
import Sectores from '../components/Sectores.astro';
import Equipo from '../components/Equipo.astro';
import Clientes from '../components/Clientes.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Header />
  <main>
    <Hero />
    <Cifras />
    <Nosotros />
    <Servicios />
    <Metodologia />
    <Campo />
    <Sectores />
    <Equipo />
    <Clientes />
    <Contacto />
  </main>
  <Footer />
</Base>
